/* 
    Document   : font
    Created on : Dec 27, 2015, 10:12:02 PM
    Author     : ADEKUNLE
    Description:
        Purpose of the stylesheet follows.
*/

body{
  font-family: 'PT Sans', sans-serif !important;
  font-size: 14px;
}
li{
    font-family: 'Droid Sans', sans-serif;
}
a
{
    
}
i
{
 font-family: 'Open Sans', sans-serif;   
}
}

